@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Oxanium-Medium.ttf') format('truetype');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  color: white;
  background-color: #2e2e2e;
}
#spaceView {
  position: absolute;
  left: 160px;
  bottom: 95px;
}
#elevator {
  height: 100vh;
  background-position: center;
  background-image: url('./images/background.png');
  background-size: cover;
  position: relative;
}

#hudrow {
  position: absolute;
  bottom: 0;
}
#batteries {
  top: 50px;
  left: 150px;
  position: absolute;
}
div.hud {
  width: 215px;
  height: 129px;
  background-image: url('./images/hudbox.png');
  font-family: 'Oxanium', cursive;
  padding: 20px;
  background-size: cover;
  float: left;
  margin-left: 20px;
}
  
div.hud ul {
  list-style: none;
}

  div.track, div.bar {
    box-sizing: border-box;
        position: relative;
  }
  
  div.progress {
        width: 100px;
        padding-left: 2px;
        padding-right: 2px;
        height: 21px;
        border-radius: 5px;
        border: solid 3px #4e4e4e;
        background-color: #1e1e1e;
        position: absolute;
        top: calc(50% - 13px);
        left: calc(50% - 53px);
  }
  
  div.track {
        position: relative;
        width: 0%;
        height: 21px;
        overflow: hidden;
  }
  
  div.bar {
        height: 15px;
        width: 6px;
        background-color: #00ffff;
        position: relative;
        border-radius:2px;
        box-shadow: 0px 0px 5px #00ffff;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 100px;
        top: 3px;
        float: left;
        clear: top;
  }
  
  .charging {
    animation: pulse 3s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      border-color: #4e4e4e;
    }
    50% {
      border-color: #00C0C0;
    }
    100% {
      border-color: #4e4e4e;
    }
  }

  .powered-down {
    filter: brightness(20%);
  }

  .rust {
    background: url('./images/abstract-metallic-surface-with-rust.jpg');
    background-size: 400%;
    width: 50px;
    height: 50px;
    position: absolute;
  }